body {
    background-color: #ddd;
}

table {
    width: 100%;
    background-color: white;
    border-collapse: collapse;
}

tr:nth-child(even) {
    background-color: #ddd9d9f6;
}

td { 
    border: 1px solid rgb(150, 151, 153);
    padding: 8px;
}
table th {
    background-color: #4caf50;
    color: white;
    text-align: left;
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 12px;
    padding-bottom: 12px;
}
