body {
    background-color: lightgray;
}

.grid {
    display: grid;
    /* repeat recibe veces y tamano */
    grid-template-rows: repeat(4, 50px);
    grid-template-columns: 30px repeat(3, 1fr) 15px;
}

.element {
    background-color: red;
}