body {
    background-color: #eee;
}

a {
    color: hotpink;
    background-color: #f00;
    border: solid 1px #d00;
    padding: 10px;
    margin: 15px;
    border-radius: 4px;
}

a:link {/*estado normal del link*/
    color: pink;
    text-decoration: none;
}

a:visited {
    color: white;
}

a:active { /*click*/
    color: black;
}

a:hover { /*mouse encima*/
    color: white;
    background-color: #f55;
}