body {
    background-color: lightgray;
}

.grid {
    display: grid;
    /* primera linea sera row-inicio y la segunda row-inicio 2 y row fin 
    la tercera linea se llamara row-fin 2*/
    grid-template-rows: repeat(2, [row-inicio] 50px [row-fin]);
    grid-template-columns: repeat(3, [col-inicio] 1fr [col-fin]);
    grid-gap: 15px;
}

.element {
    background-color: red;
}

.header {
    grid-column: col-inicio / col-fin 3;
    grid-row: row-inicio / row-fin 3;
}