body {
    background-color: lightgray;
}

.grid {
    display: grid;
    grid-template-rows: repeat(4, 50px);
    grid-template-columns: 30px repeat(3, 1fr) 15px;
    grid-gap: 15px;
}

.element {
    background-color: red;
}

.header {
    /* recibe numero de la linea donde queremos que comience
    los bordes cuentan como lineas */
    grid-column-start: 1;
    grid-column-end: 6;
    /* o grid column con dos parametros divididos con un slash */
    grid-row-start: 1;
    grid-row-end: 3;
    /* o grid row con dos parametros divididos con un slash */
}