body {
    background-color: lightgray;
}

.grid {
    display: grid;
    grid-template-rows: repeat(4, 50px);
    grid-template-columns: 30px repeat(3, 1fr) 15px;
    grid-row-gap: 20px;
    grid-column-gap: 10px;
    /* grid-gap recibe valor para filas y luego para las columnas 
    si es el mismo valor lo agrego una vez*/
}

.element {
    background-color: red;
}