body {
    background-color: #eee;
}

p {
    font-family: "Times New Roman";
    font-weight: 600; /*incrementar de a 100, no todas las fuentes tienen*/
    font-style: italic;
    font-size: 1.5em; /*em configura de manera proporcional, 16 px*/
    color: #222fff;
    text-align: center; /*justify*/
    text-indent: 40px;
    line-height: 1.7; /*interlineado*/
    word-spacing: 10px;
    text-shadow: 1px 2px 2px rgba(0, 0, 0, 0.3); /*Derecha, abajo, difuminado*/
}

a {
    text-decoration: none; /*underline, line through*/
    text-transform: capitalize; /*mayus*/
    letter-spacing: 3px;
    
}