body {
    background-color: aquamarine;
}

.caja {
    margin: 9px;
    padding: 8px;
    border-style: dotted dashed solid double;
    border-width: 3px;
    border-color: brown;
    border-top: 5px solid #afa;
    background-color: rgb(169, 128, 207);
    border-radius:16px;
    height: 100px;
    width: 100px;
    color: rgb(180, 206, 211)
}